.btn {
  background: linear-gradient(
    rgba(154, 42, 217, 0.78),
    rgba(108, 29, 152, 0.78)
  );
  color: #f5eafb;
  font-weight: 500;
  font-size: 24px;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
}

.btn:hover {
  background: linear-gradient(
    rgba(174, 85, 225, 0.78),
    rgba(205, 149, 236, 0.78)
  );
  cursor: pointer;
}
