fieldset {
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 24px;
}

.radioButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

input[type="radio"] {
  accent-color: #9a2ad9;
}

label {
  color: #1f082b;
}
